*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
ul, ul li{
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* main styles */
.body{
    background-color: rgb(209, 209, 214);
}
.container{
    padding: 0px 3em;
}


/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);
    border-radius: 0px 0px 7px 7px;
    padding: 10px 0px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}
.header__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
    height: 30px;
    color: rgb(255, 179, 0);
    filter: url(#filter_B);
}
.header__logo img{
    width: 30px;
    object-fit: contain;
    
}
.logo__text{
    line-height: 14px;
    font-weight: 400;
}
.header__search{
    cursor: pointer;
    color: rgb(255, 179, 0);
    font-size: 20px;
}
.header__list{
    display: flex;
    gap: 30px;
}
.header__item a{
    font-size: 18px;
    display: flex;
    color: rgb(255, 179, 0);
    transition: color 0.5s ease;
}
.header__item a:hover, .header__item-active a{
    color: rgb(152, 109, 0);
}


/* Menu */
.menu{
    border-radius: 30px 30px 0px 0px;
    margin-top: 100px;
    background-color: rgb(242, 242, 247);
    min-height: 100vh;
}
.menu__list_container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.category__name{
    color: rgb(174, 174, 178);
    font-weight: 500;
    margin-bottom: 14px;
}
.menu__logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-self: center;
    padding-top: -30px;
    border-radius: 30px;
}
.menu__logo img{
    object-fit: contain;
    margin-top: -40px;
    background-color: rgb(242, 242, 247);
    border-radius: 17px;
}
.menu__list{
    display: flex;
    gap: 10px;
}
.menu__item{
    max-width: 333px;
}
.menu__item_content{
    color: #696969;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
}
.menu__item_content:hover{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}
.menu__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu__img{
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.menu__img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dish__name{
    font-size: 24px;
    color: rgb(47, 47, 47);
    font-size: 500;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.menu__item_content:hover .dish__name{
    color: rgb(255, 179, 0);
}
.dish__description{
    font-size: 17px;
    font-weight: 300;
}
.dish_price{
    font-size: 24px;
    color: #a8a8a8;
}


/* Menu PopUp full information */
.popup{
    z-index: 100;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(5px);
}
.popup__content{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    background-color: #fff;
    overflow: auto;
}
.popup__buttons{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 5px;
}
.popup__close{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 94, 94);
    cursor: pointer;
}
.popup__close-grey{
    background-color: #e8e8e8;
    cursor: auto;
}
.popup__photos_main {
    width: 400px;
    height: 500px;
    margin-bottom: 10px;
}
.popup__photos_thumbs{
    display: flex;
    width: 400px;
    gap: 10px;
}
.popup__photos_thumbs a{
    display: block;
    height: 100px;
}



@media (max-width: 1000px) {
    .menu__list{
        grid-template-columns: 1fr;
    }
}